@tailwind base;
@tailwind components;
@tailwind utilities;
.titulos{
    @apply text-6xl; 
    @apply font-bold; 
    @apply text-center;
  }
  .scroll-container {
      display: block;
      margin: 0 auto;
      text-align: center;
    }
    .scroll-container {
      width: 1000px;
      height: 497px;
      overflow-y: scroll;
      scroll-behavior: smooth;
    }
    .scroll-containerChico {
      width: 50%;
      height: 70%;
      overflow-y: scroll;
      scroll-behavior: smooth;
    }
    .scroll-page {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      font-size: 5em;
    }
  